<div id="<%= dom_id zone_e %>">
  <p>
    <strong>Desk:</strong>
    <%= zone_e.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_e.status %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= zone_e.campaign %>
  </p>

</div>
