<div id="<%= dom_id zone_r %>">
  <p>
    <strong>Desk:</strong>
    <%= zone_r.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_r.status %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= zone_r.campaign %>
  </p>

</div>
