<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="Zonekstyle.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zone K</title>
  </head>
  <body>
    <div id="content" class="Zonek">
      <div class="occupied1">occupied1</div>
      <div class="restroom1">restroom1</div>
      <div class="zonel">Zone L</div>
      <div class="server">server</div>
      <div class="occupied2">occupied2</div>
      <div class="door">door</div>
    </div>
  </body>
</html>
