<div id="<%= dom_id zone_n %>">
  <p>
    <strong>Desk:</strong>
    <%= zone_n.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_n.status %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= zone_n.campaign %>
  </p>

</div>
