<p style="color: green"><%= notice %></p>

<h1>Zone ns</h1>

<div id="zone_ns">
  <% @zone_ns.each do |zone_n| %>
    <%= render zone_n %>
    <p>
      <%= link_to "Show this zone n", zone_n %>
    </p>
  <% end %>
</div>

<%= link_to "New zone n", new_zone_n_path %>
