<div id="<%= dom_id zone_i %>">
  <p>
    <strong>Desk:</strong>
    <%= zone_i.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_i.status %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= zone_i.campaign %>
  </p>

</div>
