<div id="<%= dom_id zone_q %>">
  <p>
    <strong>Desk:</strong>
    <%= zone_q.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_q.status %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= zone_q.campaign %>
  </p>

</div>
