<div id="<%= dom_id zone_j %>">
  <p>
    <strong>Desk:</strong>
    <%= zone_j.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_j.status %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= zone_j.campaign %>
  </p>

</div>
