<div id="<%= dom_id zone_m %>">
  <p>
    <strong>Desk:</strong>
    <%= zone_m.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_m.status %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= zone_m.campaign %>
  </p>

</div>
