<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>
<nav class="navigation">
  <% Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource| %>

    <% if accessible_action?(model_from_resource(resource), :index) %>
      <a href="<%= resource_index_route(resource) %>" class="button navigation__link navigation__link--<%= nav_link_state(resource) %>">
      <% case resource%>
      <% when 'csv_files' %>
        <i class="fas fa-folder-open"></i> 
      <% when 'users' %>
        <i class="fas fa-user"></i> 
      <% else %>
      <i class="fas fa-street-view"></i> 
    <% end %>
      <% if resource == "csv_files" %>
        Csv File

      <% elsif resource == "users" %>
        Users
      <% else %>
          <% zone = display_resource_name(resource) %>
          Zone <%= zone[-2] %>
      <% end %>
      </a>
    <% end %>
  <% end %>
</nav>

