#content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 70px);
  /* grid-auto-rows: 100px; */
  grid-gap: 20px;
  max-width: 80vw;
  min-height: 90vh;
  margin: 0 auto;
  outline: 1px solid black;
}

.restroom {
  background-color: blueviolet;
  grid-column: 1/4;
}

.occupied1 {
  background-color: cyan;
  grid-column: 6/7;
  grid-row: 1/9;
}
.occupied2 {
  background-color: cyan;
  grid-column: 7/8;
  grid-row: 1/9;
}
.occupied3 {
  background-color: cyan;
  grid-column: 10/11;
  grid-row: 4/9;
}
.occupied4 {
  background-color: cyan;
  grid-column: 2/3;
  grid-row: 2/9;
}
.occupied5 {
  background-color: cyan;
  grid-column: 3/4;
  grid-row: 2/9;
}

.zonei {
  background-color: aquamarine;
  grid-column: 11/13;
  grid-row: 1/10;
}

.door {
  background-color: yellowgreen;
  grid-column: 5/6;
  grid-row: 9/10;
}
