<div id="<%= dom_id zone_l %>">
  <p>
    <strong>Desk:</strong>
    <%= zone_l.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_l.status %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= zone_l.campaign %>
  </p>

</div>
