<div id="<%= dom_id zone_d %>">
  
  <p>
    <strong>Desk:</strong>
    <%= zone_d.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_d.status %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= zone_d.campaign %>
  </p>

</div>
