<p style="color: green"><%= notice %></p>

<h1>Zone ds</h1>

<div id="zone_ds">
  <% @zone_ds.each do |zone_d| %>
    <%= render zone_d %>
    <p>
      <%= link_to "Show this zone d", zone_d %>
    </p>
  <% end %>
</div>

<%= link_to "New zone d", new_zone_d_path %>
