<div id="<%= dom_id zone %>">
  <p>
    <strong>Desk:</strong>
    <%= zone.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone.status %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= zone.campaign %>
  </p>

</div>
