<div id="<%= dom_id zone_k %>">
  <p>
    <strong>Desk:</strong>
    <%= zone_k.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_k.status %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= zone_k.campaign %>
  </p>

</div>
