
.navigation {
  flex: 1 0 6rem;
  padding: $base-spacing;
  padding-left: 0;
  border-right-color: $grey-1;
  border-right: 1px solid $base-border-color;
}

.navigation__link--active {
  font-weight: $bold-font-weight;
}


/* Style for the main container */
  .container {
    font-family: Arial, sans-serif;
  }

  /* Style for each item div */

  /* Style for the dropdown container */
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8fdff;
    min-width: 120px;
    box-shadow: 0 0 16px 0 rgba(5, 152, 166, 0.2);
    border-radius: 15px;
    right: 0;
    
  }
  
  .dropdown-content a {
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    padding: 0;
    margin: 0;
  }
  

   