
<h1 style="padding: 20px; text-align: center; font-size: 30px; font-weight: bold;">Upload CSV File</h1>


<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <%= render "csv_files/new" %>
</div>


