
<div style="display: flex; justify-content: center; align-items: center; height: 70vh;">
  <img src="<%= asset_path('upload.gif') %>" alt="GIF Image">
</div>


<div style="display: flex; justify-content: center; align-items: center;">

  <%= form_tag csv_files_path, multipart: true do %>

    <%= file_field_tag :file, accept: ".csv", style: "margin-top: -50px; margin-left: 100px;"%>

    <div>
    <%= submit_tag 'Upload File', class: "btn btn-primary", style: "margin-left: 150px;"%>
    </div>
    
  <% end %>

</div>
