<div id="<%= dom_id zone_h %>">
  <p>
    <strong>Desk ID:</strong>
    <%= zone_h.desk_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= zone_h.status %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= zone_h.campaign %>
  </p>

</div>
